<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xiaoming.acs.db.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.xiaoming.acs.db.entity.User">
        <result column="user_id" property="userId"/>
        <result column="prod_id" property="prodId"/>
        <result column="login_type" property="loginType"/>
        <result column="login_id" property="loginId"/>
        <result column="login_name" property="loginName"/>
        <result column="real_name" property="realName"/>
        <result column="email" property="email"/>
        <result column="gender" property="gender"/>
        <result column="cellphone" property="cellphone"/>
        <result column="id_card" property="idCard"/>
        <result column="user_status" property="userStatus"/>
        <result column="desc" property="desc"/>
        <result column="update_time" property="updateTime"/>
        <result column="create_time" property="createTime"/>
    </resultMap>

    <sql id="Base_Column_List">
        user_id,
        prod_id,
        login_type,
        login_id,
        login_name,
        real_name,
        email,
        gender,
        cellphone,
        id_card,
        user_status,
        `desc`,
        update_time,
        create_time
    </sql>

</mapper>